[Unit]
Description=Apache Httpd Server
After=network.target

[Service]
Type=forking
ExecStart=/bin/sh -c "exec sh /storage/.kodi/addons/service.web.httpd/bin/httpd.start"
ExecStop=/bin/sh -c "exec sh /storage/.kodi/addons/service.web.httpd/bin/httpd.stop"
TimeoutStopSec=5
Restart=always
RestartSec=10
StartLimitInterval=0

[Install]
WantedBy=kodi.target